<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsonshop.lemonshop.Mapper.bkuserMessageMapper" >
  <resultMap id="BaseResultMap" type="com.jsonshop.lemonshop.entity.bkuserMessage" >
    <constructor >
      <idArg column="admin_mes" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="admin_realname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="admin_sex" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="admin_age" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="admin_address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="admin_idcard" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="admin_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="admin_mobile" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="admin_email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="admin_loginid" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from back_usermessage
    where admin_mes = #{adminMes,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jsonshop.lemonshop.entity.bkuserMessage" >
    insert into back_usermessage (admin_mes, admin_realname, admin_sex, 
      admin_age, admin_address, admin_idcard, 
      admin_phone, admin_mobile, admin_email, 
      admin_loginid)
    values (#{adminMes,jdbcType=INTEGER}, #{adminRealname,jdbcType=VARCHAR}, #{adminSex,jdbcType=VARCHAR}, 
      #{adminAge,jdbcType=VARCHAR}, #{adminAddress,jdbcType=VARCHAR}, #{adminIdcard,jdbcType=VARCHAR}, 
      #{adminPhone,jdbcType=VARCHAR}, #{adminMobile,jdbcType=VARCHAR}, #{adminEmail,jdbcType=VARCHAR}, 
      #{adminLoginid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jsonshop.lemonshop.entity.bkuserMessage" >
    update back_usermessage
    set admin_realname = #{adminRealname,jdbcType=VARCHAR},
      admin_sex = #{adminSex,jdbcType=VARCHAR},
      admin_age = #{adminAge,jdbcType=VARCHAR},
      admin_address = #{adminAddress,jdbcType=VARCHAR},
      admin_idcard = #{adminIdcard,jdbcType=VARCHAR},
      admin_phone = #{adminPhone,jdbcType=VARCHAR},
      admin_mobile = #{adminMobile,jdbcType=VARCHAR},
      admin_email = #{adminEmail,jdbcType=VARCHAR},
      admin_loginid = #{adminLoginid,jdbcType=INTEGER}
    where admin_mes = #{adminMes,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select admin_mes, admin_realname, admin_sex, admin_age, admin_address, admin_idcard, 
    admin_phone, admin_mobile, admin_email, admin_loginid
    from back_usermessage
    where admin_mes = #{adminMes,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select admin_mes, admin_realname, admin_sex, admin_age, admin_address, admin_idcard, 
    admin_phone, admin_mobile, admin_email, admin_loginid
    from back_usermessage
  </select>
</mapper>